
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  
}

@media only screen and (max-width : 992px) {
  .mobile-back {
    visibility: visible;
  }
}

@media only screen and (min-width : 992px) {
  .mobile-back {
    visibility: hidden;
  }
}

.code-icon {
  font-size: 22px;
  background-color: #212121;
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}

.cv-btn {
  position: fixed;
  left: 57px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 1000;
}

.profile-pic {
  padding-top:25px;
  padding-bottom:25px;
}

.ptext {
  background-color:#212121;
  color:#fff;
  text-align:center;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
  position:absolute;
  top:50%;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
}

.ptext .headt{
  color:#fff;
  font-size:27px;
  letter-spacing:8px;
  text-align:center;
}

.ptext .headp{
  color:#fff;
  font-size:14px;
  text-align:center;
}

.card-img {
  opacity:0.95;
}

.effect {
  display: center;
}

.effect .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.effect a {
  text-decoration: none !important;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-right: 20px;
  font-size: 25px;
  overflow: hidden;
  position: relative;
  color: #212121;
  border: 2px solid #212121;
}
.effect a i {
  position: relative;
  z-index: 3;
}
.effect a:last-child {
  margin-right: 0px;
}
.effect a:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.effect a i {
  display: inline-block;
  vertical-align: middle;
}

/* varrius effect */
.effect.varrius a {
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}
.effect.varrius a:after {
  content: "";
  display: block;
  width: 90%;
  height: 90%;
  top: -110%;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  background-color: #212121;
  border-radius: 50%;
}
.effect.varrius a:hover {
  color: #fff;
}
.effect.varrius a:hover:after {
  top: 5%;
  -webkit-transition: all 0.2s linear 0s;
  transition: all 0.2s linear 0s;
}