body, html{
  height:100%;
  color:#666;
  margin:0;
  font-size:16px;
}
.pimg1{
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg2, .pimg3{
  position:relative;
  opacity:0.85;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.pimg1{
  background-image:url('../img/img1.jpg');
  min-height:700px;
}

.pimg2{
  background-image:url('../img/img2.jpg');
  min-height:400px;
}

.pimg3{
  background-image:url('../img/img3.jpg');
  min-height:400px;
}

.section-a{
  text-align:center;
  padding:50px 80px;
}

.section-dark{
  background-color:#00e5ff;
  color:#fff;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

.ptext .border{
  background-color:#212121;
  color:#fff;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:5px;
  padding-right:5px;
}

.ptext .border .headt{
  color:#fff;
  font-size:27px;
  letter-spacing:8px;
  text-align:center;
}

.ptext .border .headp{
  color:#fff;
  font-size:14px;
  text-align:center;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

.nav-div {
  padding:5px;
}

.cool-link {
  display:inline-block;
  text-decoration:none;
}

.cool-link::after {
  content:'';
  display:block;
  width:0;
  height:2px;
  background:#fff;
  transition:width .5s;
}

.cool-link:hover::after {
  width:100%;
}