
header, main, footer {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
  .cv-btn {
    visibility: hidden;
    -webkit-transform: translateX(-200%);
    transform: translateX(-200%);
  }
}

.cv-btn {
  position: fixed;
  left: 57px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 1000;
}

.profile-pic {
  padding-top:25px;
  padding-bottom:25px;
}

.ptext {
  background-color:#212121;
  color:#fff;
  text-align:center;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
  position:absolute;
  top:50%;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
}

.ptext .headt{
  color:#fff;
  font-size:27px;
  letter-spacing:8px;
  text-align:center;
}

.ptext .headp{
  color:#fff;
  font-size:14px;
  text-align:center;
}

.card-img {
  opacity:0.85;
}

.fa {
  padding: 15px;
  font-size: 30px;
  height: 60px;
  width: 60px;
  text-align: center;
  text-decoration: none;
  position: absolute;
  border-radius: 50%;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
